<p>login works!</p>
<div class="container">
    <form class="row g-3 needs-validation" (ngSubmit)="onSubmit()" [formGroup]="loginFrom">
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">User name</label>
            <input type="text" formControlName="username" class="form-control" id="validationCustom01" required>
            <div class="text-danger">
                @if (loginFrom.controls['username'].errors?.['required'] && loginFrom.controls['username'].touched) {
                <span>This is required</span>
                }
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="validationCustom02" required>
            <div class="text-danger">
                @if (loginFrom.controls['password'].errors?.['required'] && loginFrom.controls['password'].touched) {
                <span class="colour:red">This is required</span>
                }
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" [disabled]="loginFrom.invalid" type="submit">Submit form</button>
        </div>
    </form>
</div>